@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Wine Database</h1>
    <p>To get started, select an option from the menu above.</p>
</div>
