@model wine_app.Domain.Result<wine_app.Models.Grape.EditableGrapeColourViewModel>
@{
    ViewData["Title"] = "Add Colour";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Colour</h4>
        <hr />
        <partial name="_colour" mdoel="model" />
    </div>
}