@model wine_app.Domain.Result<wine_app.Models.Grape.EditableGrapeViewModel>
@{
    ViewData["Title"] = "Add Grape";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Grape</h4>
        <hr />
        <partial name="_grape" mdoel="model" />
    </div>
}