@model wine_app.Domain.Result<wine_app.Models.StopperType.EditableStopperTypeViewModel>
@{
    ViewData["Title"] = "Add Stopper Type";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Stopper Type</h4>
        <hr />
        <partial name="_stopperType" />
    </div>
}