@model wine_app.Domain.Result<wine_app.Models.Drinker.EditableDrinkerViewModel>
@{
    ViewData["Title"] = "Edit Drinker";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Drinker</h4>
        <hr />
        <partial name="_drinker" />
    </div>
}