@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2>Something has gone wrong, sorry about that.</h2>

<blockquote class="blockquote">
    <p class="mb-0">"There is nothing more frustration than when my computer doesn't let me do what I need it to."</p>
    <footer class="blockquote-footer">Julius Caesar</footer>
</blockquote>

<p>If this issue persists, please contact support.</p>

<img src="~/images/yuno.jpg" class="img-fluid" alt="Responsive image" asp-append-version="true" />
