@model wine_app.Models.Country.EditableCountryViewModel
@{
    ViewData["Title"] = "Edit Country";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Customer</h4>
        <hr />
        <partial name="_country" mdoel="model" />
    </div>
}