@model wine_app.Domain.Result<wine_app.Models.Country.EditableCountryViewModel>
@{
    ViewData["Title"] = "Add Country";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Country</h4>
        <hr />
        <partial name="_country" />
    </div>
}