@model wine_app.Domain.Result<wine_app.Models.Region.EditableRegionViewModel>
@{
    ViewData["Title"] = "Add Region";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Region</h4>
        <hr />
        <partial name="_region" />
    </div>
}