@model wine_app.Domain.Result<wine_app.Models.WineType.EditableWineTypeViewModel>
@{
    ViewData["Title"] = "Add Wine Type";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Wine Type</h4>
        <hr />
        <partial name="_wineType" />
    </div>
}